div{
  background-color: antiquewhite;
  margin: 5%;
  padding: 5%;
margin-left: 5%;
margin-right: 5%;
border-radius: 9%;
display: inline-block;

}
#hl{

background-color: rgb(182, 182, 211);


}
.int{
background-color: rgb(192, 188, 150);


}
.ab{

background-color: rgb(173, 218, 218);


}
.ac{

background-color: rgb(197, 238, 238);

}
.tq{

background-color: darkgrey;

}
body{
  background-color:black ;
  /* color: rgb(236, 251, 250); */
}
button{

border-radius
}

#we{

color: white;

}

#all{

padding: 20%;



}


